
body{
    background-image: url('https://i.pinimg.com/originals/41/72/ab/4172ab9e2a618a5f12d1c30a3e709d6e.gif');
    font-family: "Pixelify Sans", sans-serif; 
    margin: 40px;
  }

h1{
    text-align: center;
    font-size: 35px;
}


.topnav { 
  width:100%;
  height:50px;
  overflow: hidden;
  background-color: #fdf2e8;
 
}

/* Links inside the navbar */
.topnav a {
  float: left;
  font-size: 16px;
  color: #b3a7f9 ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #b3a7f9;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #c7b7fb;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:#fee5e9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #b3a7f9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f9dbeb;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

details{
  background-color: #fdf2e8;
  width: 650px;
  height:fit-content;
  border: 5px #f3c4e0 dotted;
  border-radius: 10px;
  margin: 10px;
  font-size: 20px;

  text-align: center;
  /* display:grid;
  place-self: center; */
  
}


summary{
    text-align: left;
    text-decoration: none;
    background-color: #fdf2e8;
    color:#b3a7f9;
}
details summary::marker,
:is(::-webkit-details-marker) {
    text-align: left;
    content: " x -  "; 
    font-size: 20px;
   
}

#hallo{
    
    width:60px;
    height:60px;
}
#pfp{
    margin-top: 10px;
    border-radius: 100px;
    width:100px;
    height:auto;
}
P{
    color:#b3a7f9;
}
/* reference: https://gridbyexample.com/examples/example7/ */
.wrapper {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  margin-top: 20px; */
   /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; */

  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
    
  }

  /* .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

  } */

    .a {
    grid-column: 1 / 3;
    grid-row: 1;
    width: 500px;
  }
  .b {
    grid-column: 3 ;
    grid-row: 1 / 3;
    width: 125px;
  }
  .c {
    grid-column: 1 ;
    grid-row: 2 ;
    width: 225px;
  }
  .d {
    grid-column: 2;
    grid-row: 2;
    width: 225px;
  }
  a{
    text-decoration: none;}