body{
    background-color:  #EBDCC5 ;
    font-family: "Pixelify Sans", sans-serif;
  }
  
/* linen - #EBDCC5 */
/* blush - #E5AA7B */
/* tan - #A9835C */
/* rust - #7E3717 */
/* leather - #3F1816 */
/* gum - #5D6737 */
/* forest = #222918 */
/* sky - #90A3AF */
/* ocean - #003F50 */

/* w3schools */
/* Navbar container */

.topnav { 
  width:1700px;
  height:50px;
  overflow: hidden;
  background-color: #EBDCC5 ;
  margin-bottom: 20px;
  /* background-color: #fdf2e8; */
 
}

/* Links inside the navbar */
.topnav a {
  float: left;
  font-size: 16px;
   color: #3F1816 ;
  /* color: #b3a7f9 ; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;

}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #3F1816;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #A9835C;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:#90A3AF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #EBDCC5;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #003F50;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* grid by example */
*,
*:before,
*:after {
  box-sizing: border-box;
}


h1,
p {
  margin: 0 0 1em 0;
}


.wrapper {
  max-width: 1000px;
  margin: 0 20px;
 /* display: grid;*/
  grid-gap: 10px;
}




/* no grid support? */


.wrapper {
  display: flex;
  flex-wrap: wrap; 

}


.wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
}


.panel {
  /* needed for the flex layout*/
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
  position: relative;
  overflow: hidden;
}


.tall-panel {
  grid-row-end: span 2;
}


.wide{
  grid-column-end: span 2;
}

.header{
  text-align: center;
}


.wrapper > * {
  background-color: #A9835C;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  margin-bottom: 10px;
}

.footer {
  text-align:center;
  background-color: #3F1816;
  margin-left: 5px;
  margin-right: 5px;
  flex: 0 1 100%;
  grid-column: 1 / -1;
  font-family: "Brygada 1918", serif;
}

ul{
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
li{
  font-size:15px;
  margin:7px;
}

/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */


@supports (display: grid) {
  .wrapper > * {
    margin: 0;
  }
}


/* .panel img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
} */

.imgcontained{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.imgcontained img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.imgcontained::after {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; 
}


.imgcontained:hover::after {
  opacity: 1;
}


/* uiverse.io */
.overlaybutton {
 position: relative;
 overflow: hidden;
 border: 1px solid #A9835C;
 color: white;
 font-size: 25px;
font-family: "Brygada 1918", serif;
 padding: 18px 18px 17px;
 display: inline-block;
 text-decoration: none;
 cursor: pointer;
 background: #A9835C;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 text-align: center;
}

.overlaybutton span:first-child {
 position: relative;
 transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
 z-index: 10;
}

.overlaybutton span:last-child {
 color: white;
 display: block;
 position: absolute;
 bottom: 0;
 transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
 z-index: 100;
 opacity: 0;
 top: 50%;
 left: 50%;
 transform: translateY(225%) translateX(-50%);
 height: 25px;
 line-height: 24px;
}

.overlaybutton:after {
 content: "";
 position: absolute;
 bottom: -50%;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: #3F1816;
 transform-origin: bottom center;
 transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
 transform: skewY(9.3deg) scaleY(0);
 z-index: 50;
}

.overlaybutton:hover:after {
 transform-origin: bottom center;
 transform: skewY(9.3deg) scaleY(2);
}


.overlaybutton:hover span:last-child {
 transform: translateX(-50%) translateY(-50%);
 opacity: 1;
 transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}  


 
a{
  text-decoration:none;
  color:#EBDCC5;
}