body {
    background-color: lightblue;
  
}

#canvas{
    width: 200px;
    height: 200px;  
}
/* main {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 50px;
}
button {
    border-radius: 40px;
    margin: 50px;
} */