body {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

/* W3Schools smartphone base styling */
.smartphone {
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
  background: #000;
}

/* screen area */
.smartphone .content {
  width: 100%;
  height: 100%;
  background: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

/* vibration animation */
